/*	-------------------------------------
	:: Buttons
	---------------------------------- */
	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		font: normal 900 1.6rem / 1.4 $button-font !important;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
		background-color: transparent;
		border: .125em solid $current_year-primary;
		cursor: pointer;
		transition: all 0.2s $cubic-bezier 0s;
		color: $cta;
		display: inline-flex;
		margin: 0;
		padding: 0.875em 1.428571429em;
		letter-spacing: 0.06em;

		&:hover,
		&:focus {
			opacity: 1;
			outline: 0;
			color: $body-dark !important;
			text-decoration: none;
			transition: color 0.2s $cubic-bezier 0s;

			background: #232F39;
			color: white !important;
			transition: all 0.2s $cubic-bezier;
		}

		&.active {
			color: #000 !important;
			border-color: #000;

			&:hover,
			&:focus {
				background: transparent;
			}
		}

		// Old button container didn't work correctly
		.button-container & {
			margin-bottom: 10px;
		}

	}
