/*	-------------------------------------
	:: Loader Bar
	---------------------------------- */
	#loader-bar {
		background: $current_year-primary;
		background: linear-gradient(to left, $current_year-primary 0vw, $current_year-secondary 15vw);
		mix-blend-mode: lighten;
		position: fixed;
		top: 0;
		height: $nav-mobile-height;
		left: 0;
		width: 0vw;
		z-index: 20;
		transition: all 0.65s $cubic-bezier 0ms;
		pointer-events: none;
	}

	// #loader-bar dd,
	// #loader-bar dt {
	// 	box-shadow: $primary-2016 1px 0 6px 1px;
	// 	position: absolute;
	// 	right: 0;
	// 	width: 5vw;
	// 	transition: all 0.25s $cubic-bezier 0ms;
	// }
