// Home page

// Introduction
#home-introduction {

	.kitchensink {
		padding: 0;
	}

	.column {
		@include max-width(650px) {
			align-self: flex-start;

			&:first-of-type {
				flex: 0 0 41.66666666666%;
			}
			&:last-of-type {
				flex: 0 0 58.33333333331%;
			}
		}
	}

	p {
		max-width: 518px;
		font-weight: 600;

		&.h1 {
			font-size: 4.991rem;
			font-weight: 500;

			@include max-width(440px) {
				font-size: 6.5vw;
			}
		}

		@include min-width(1000px) {
			margin-left: 5rem;
		}
	}
}

#home-tracks {
	padding: 8rem 0;

	.container {
		align-items: baseline;
	}

	h3, .h3 {
		color: $yellow;
		font-size: 2.4rem;
	}

	p {
		color: white;
		font-size: 1.6rem;
		line-height: 1.65;
	}
}


/* The Schedule Section */
#home-schedule {
	padding-top: 10rem;
	position: relative;

	/* Rock Em Sock Em */
	.toy-container {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		padding: 0;
		height: 0;

		.toy {
			position: absolute;
			width: 30%;

			figure {
				width: 100%;
				margin: 0;
			}
		}

		.team-mystic-robot {
			top: 142px;
			left: 0px;
			max-width: 330px;

			@include min-width(750px) {
				left: -80px;
			}
		}

		.team-valor-robot {
			right: -20px;
			top: 400px;
			max-width: 416px;

			@include min-width(750px) {
				right: -160px;
			}
		}
	}

	/* Intro content */
	.schedule-content {
		margin-bottom: 40px;
		z-index: 1;
		position: relative;

		h6 {
			font-size: 3.2rem;
			color: $magenta;
		}

		figure {
			margin: 3.6rem auto 2rem auto;
		}
	}

	/* Schedule Table */
	.schedule-table {
		margin-bottom: 40px;

		// Phone styles first!
		.column {
			display: flex;
			flex-wrap: wrap;
			text-align: center;
			padding-top: 30px;
			margin-bottom: 30px;
			border-top: 1px solid $orange;
		}

		/* Whenzit Happenin' */
		.timeslot {
			flex: 0 0 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			p {
				font-size: 6rem; // eventually 10rem
				line-height: 1; // for simplicity sake
				margin-bottom: 10px;
				font-family: $raleway;
			}
		}

		/* Whaz goin' onnnn */
		.timeslot-description {
			flex: 0 0 100%;

			p {
				margin-bottom: 0;
			}
		}

		@include min-width(650px) {
			.column {
				padding: 0;
				margin: 0;
				text-align: left;
			}

			.timeslot {
				flex: 0 0 33%;
				border-right: 1px solid $orange;

				p {
					font-size: 7.5rem; // eventually 10rem
					margin-bottom: 0;
				}
			}

			.timeslot-description {
				flex: 0 0 67%;
				padding: 40px 0 40px 30px;
			}
		}

	}
		// If it's an AM timeslot
		.green-text {
			.timeslot p, h6, .h6 { color: $green; }
		}

		// If it's a PM timeslot
		.blue-text {
			.timeslot p, h6, .h6 { color: $blue; }
		}

	.timeslot-7P {
		.timeslot {
			p {
				background: $blue;
				color: white;
				width: auto;
				margin: 0 auto 10px;
				border-radius: 100%;
				padding: 20px;
			}
		}
	}
}
