.home {
	.hero {
		background: #f4f4f4;

		&::after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 135px;
			background: white;
			z-index: 0;
		}

		.container {
			position: relative;
			max-width: 1300px;
			height: 100%;
		}

		.toy-container {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			max-width: 1440px;
			margin: 0 auto;
			left: 0;
			right: 0;
		}

		.column {
			width: 100%;
			max-width: 482px;
			position: absolute;
			right: 0;
			margin-top: 85px;

			figure {
				margin: 0 0 3.6rem 0;
			}

			h3 {
				text-align: right;
				padding-right: 10px;
				font-size: 2.498rem;
				font-weight: bold;
				font-style: italic;
				color: $magenta;
			}
		}
	}

	.thoughts,
	.figure {
		position: absolute;
		width: 100%;
		// outline: 1px solid black;
	}

	.toy {
		position: absolute;
		width: 100%;
		z-index: 1;
		left: auto;

		// outline: 1px solid black;

		figure {
			margin: 0;
		}

		// width: 1440
		// height: 1024

		// convert all of these to percentages!!

		&.pedestal {
			bottom: 3.1527778%;
			right: 12.2222222%;
			width: 14.4444444%;
			max-width: 208px;
			z-index: 2;
		}

		&.cowboy {
			width: 22.8638889%;
			height: 40.6132812%;
			right: 11.3527778%;
			bottom: 5.859375%;

			.thoughts {
				width: 69.5562373%;
				height: 43.0412619%;
				top: 0;
				left: 0;
			}

			.figure {
				width: 42.8272029%;
				right: 0;
				bottom: 0;
			}
		}

		&.monkey {
			width: 335px;
			height: 512px;
			right: 411px;
			bottom: 80px;

			.figure {
				bottom: 0
			}

			.thoughts {
				top: 26px;
				left: 37px;
			}
		}

		&.barbie {
			width: 385px;
			height: 702px;
			right: 668px;
			bottom: 50px;

			.thoughts {
				top: -6px;
				left: 202px;
			}
		}

		&.troll {
			width: 170px;
			height: 585px;
			right: 876px;
			bottom: 84px;

			.thoughts {
				top: 46px;
				left: 11px;
			}
		}

		&.pirate {
			width: 132px;
			height: 205px;
			right: 998px;
			bottom: 34px;
			z-index: 3;

			.thoughts {
				// none?!
			}
		}

		&.giraffe {
			width: 600px;
			height: 558px;
			right: 752px;
			bottom: 452px;

			.thoughts {
				top: 68px;
				left: 402px;
			}
		}

		&.dinosaur {
			width: 1240px;
			height: 558px;
			right: 1042px;
			bottom: 470px;

			.thoughts {
				top: 306px;
				left: 900px;
			}
		}
	}
}
