footer {
	font-size: 1.6rem;
	background: #f2f2f2;

	p {
		margin: 0;
		font-size: 1.6rem;
	}

	@include min-width(800px) {
		text-align: center;
	}

	.built-by-friends {
		padding: 3rem 0;
		background-color: white;
		color: #4d4d4d;

		p {
			font-size: 1.6rem;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			text-align: center;

			@include max-width(650px) {
				display: flex;
				flex-direction: column;
			}
		}

		img {
			width: 14rem;
			height: auto;
			margin: 1.8rem 0 0 0;

			@include min-width(650px) {
				display: inline;
				margin: 0 0 0 12px;
			}
		}
	}

	.hosted-flywheel {
		padding: 3rem 0;
		color: #4d4d4d;
		text-align: center;

		p {
			font-size: 1.6rem;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
	}

	.flywheel {
		width: 125px;
		height: auto;
		margin-left: 10px;
		text-align: center;
	}
}

section.navigation {
	padding: 0;
	position: relative;
	outline: 1px solid rgba(0, 0, 0, 0.2);

	.column {
		padding: 6em;
		background: $gray-light;
		transition: all .5s $ease 0s;
		@include dark_gradient();

		&::after {
			opacity: 0;
		}

		.content {
			max-width: 500px;
			width: 90%;
			z-index: 2;
			position: relative;
		}

		.h2 {
			text-transform: uppercase;
			transition: all .1s $ease 0s;

			&::after,
			&::before {
				display: inline-block;
				position: relative;
				left: -10rem;
			}
		}

		&:hover,
		&:active,
		&:focus {
			background: $current_year-secondary;

			.h2 {
				color: white;
				transform: translateX(0);
			}

			&::after {
				opacity: 1;
			}
		}
	}

	.column:first-of-type {

		.content {
			text-align: right;
			margin: 0 0 0 auto;
		}

		.h2 {
			&::before {
				content: '←';
			}
		}

		&:hover,
		&:active,
		&:focus {
			.h2 {
				transform: translateX(-10px);
			}
		}
	}

	&::after,
	&::before {
		content: '';
		width: 1px;
		top: 0;
		z-index: 1;
		left: calc(50% - 1px);
		position: absolute;
		display: block;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
	}

	&::before {
		width: 100%;
		top: auto;
		bottom: 0;
		left: 0;
		height: 1px;
	}

	.column:last-of-type {
		.h2 {
			&::after {
				content: '→';
				left: 10rem;
			}
		}

		&:hover,
		&:active,
		&:focus {
			.h2 {
				transform: translateX(10px);
			}
		}
	}

	@include max-width(800px) {
		.column {
			flex: 0 0 50% !important;
			padding: 10vw 2.5vw;
			display: flex;
			align-items: center;
			border-top: 1px solid rgba(0, 0, 0, 0.2);

			.content {
				text-align: center !important;
				width: 100%;
			}

			&:first-of-type {
				padding: 10vw 2.5vw;
			}

			h2, .h2 {
				padding: 0;
				font-size: 5vw;

				&::before,
				&::after {
					display: none;
				}
			}
		}
	}
}
