#home-sponsors-leadin {
	padding: 8rem 0;
	position: relative;

	figure, p {
		position: relative;
		z-index: 1;
	}

	figure:nth-of-type(2) {
		position: absolute;
		left: -100px;
		top: -120px;
		z-index: 0;
	}
}

#home-sponsors-platinum,
#home-sponsors-gold,
#home-sponsors-silver,
#home-sponsors-bronze {
	padding: 0 0 3.4rem;

	.container {
		justify-content: space-between;
		max-width: calc(100% - 6.8rem);
	}

	.column {
		border: 1px solid $orange;
		border-radius: 100%;
		align-self: flex-start;
	}

	.content {
		padding: 0;
	}

	&.layout-multi_column .progressive_image {
		width: 100% !important;
		max-width: 100% !important;
	}
}
