#home-sponsors-leadin {
	padding: 8rem 0 0;
}

#home-sponsors-platinum,
#home-sponsors-gold,
#home-sponsors-silver,
#home-sponsors-bronze {
	padding: 8rem 0 0;

	.container {
		justify-content: space-around;
	}

	.column {
		border: 1px solid $orange;
		border-radius: 100%;
		align-self: flex-start;
	}

	.content {
		padding: 0;
	}

	&.layout-multi_column .progressive_image {
		width: 100% !important;
		max-width: 100% !important;
	}
}
