.layout-hero {
	padding: 0 !important;
	overflow: hidden;
}

.hero {
	background: transparent 50% 50% / cover no-repeat;
	height: auto;
	position: relative;
	min-height: 250px;
	max-height: 1024px;

	.container {
		padding-top: $nav-min-height;
		display: flex;
		align-items: center;
		height: 100%;
		position: absolute;
		width: 90%;
		left: 0;
		right: 0;
		padding-bottom: 5vw;

		@include min-width(801px) {
			padding-top: $nav-height;
		}

		@include min-width(1051px) {
			padding-top: $nav-height;
			padding-bottom: 70px;
		}

		@include min-width(1201px) {
			padding-bottom: 10rem;
		}
	}

	img.sizer {
		width: 100%;
		z-index: -9;
		position: relative;
		opacity: 0;
	}
}
