/*	-------------------------------------
	:: Nav
	:: TODO: clean this up (maybe)
	---------------------------------- */
	header {
		width: 100%;
		position: fixed;
		top: 0;
		height: $nav-mobile-height;
		z-index: 10;
		min-width: 320px;
		font-family: $nav-font;
		text-transform: uppercase;
		transition: all 150ms ease 0ms;
		background: $body-dark;
		box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);

		@include min-width(783px) {
			.admin-bar & { top: 32px; }
		}

		.container {
			position: relative;
			width: 100%;
			height: 100%;
			max-width: 1350px;

			.column {
				height: 100%;
			}
		}

		a {
			background: transparent;
			text-shadow: none !important;
		}

		.logo {
			width: auto;
			height: $nav-mobile-height;
			position: absolute;
			left: 0;
			top: 0;
			margin-top: 0;
			display: block;
			color: transparent;
			font-size: 0;
			text-transform: none;

			&::after {
				content: '';
				display: block;
				background: $current_year-primary;

				.gradients & {
					background: linear-gradient(60deg, rgba($current_year-secondary, 1) 0%,rgba($current_year-primary, 1) 100%);
				}

				position: absolute;
				width: 5.5rem;
				height: 100%;
				left: 0;
				top: 0;
				mix-blend-mode: color;

				@include safari() {
					display: none;
				}
			}
		}

		.show-logo {
			width: auto;
			height: 100%;
			position: absolute;
			left: 22.4rem;
			top: 0;
			margin-top: 0;
			display: block;
			color: transparent;
			text-transform: none;
			border-left: 2px solid rgba(0,0,0,.1);
			border-right: 2px solid rgba(0,0,0,.1);

			body.home & {
				&::after {
					content: '';
					position: absolute;
					height: 2px;
					width: 100%;
					bottom: 0;
					left: 0;
					background: $current_year-primary;
				}
			}
		}

		.logo,
		.show-logo {
			img {
				height: 100%;
				width: auto;
			}
		}

		.show-logo {
			img {
				height: 90%;
				margin-top: 0%;
			}
		}

		.ellipsis {
			position: absolute;
			right: 1.25%;
			z-index: 9;
		}

		nav {
			display: block;
			position: fixed;
			padding-top: $nav-mobile-height;
			right: 0;
			margin: 0;
			max-width: 320px;
			width: 70vw;
			height: 100vh;
			transform: translate3d(105%, 0%, 0px);
			transition: all 100ms cubic-bezier(.61,.92,.68, 1) 0s;
			background: white;
			box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
			z-index: 8;

			ul {
				@include unstyled();

				li::before {
					display: none;
				}

				li {
					margin: 0;
				}
			}

			a {
				color: $body-dark;
				font-size: 2.4rem;
				letter-spacing: 0.1em;
				font-weight: 300;
				padding: 2.8rem 2rem;
				display: block;
				font-weight: 900;
				opacity: 0;
				transform: translate3d(25px, 0, 0);
				transition: all 200ms ease-out 0s;
				border-bottom: 1px solid rgba(0, 0, 0, 0.05);

				span {
					font: inherit;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					display: block;
					width: 90%;
					margin: 0;
				}

				&:hover,
				&:focus {
					background: white;
				}
			}

			.nav-open & {
				transform: translate3d(10px, 0, 0);

				li:nth-of-type(1) a { transition-delay: 0.1s; }
				li:nth-of-type(2) a { transition-delay: 0.2s; }
				li:nth-of-type(3) a { transition-delay: 0.3s; }
				li:nth-of-type(4) a { transition-delay: 0.4s; }
				li:nth-of-type(5) a { transition-delay: 0.5s; }
				li:nth-of-type(6) a { transition-delay: 0.6s; }

				a {
					opacity: 1;
					transform: translate3d(0, 0, 0);
				}
			}

			@include max-width(1100px) {
				ul {
					display: flex;
					flex-wrap: wrap;

					li {
						width: 100%;
						flex: 100%;
					}
				}

				li.profile-dropdown {
					order: -1;


					a {
						display: flex;
						flex-wrap: wrap;
						overflow: hidden;
						text-overflow: ellipsis;
						padding: 6rem 2rem;

						img {
							display: block;
							width: 4.0rem;
							height: 4.0rem;
							margin-bottom: 0.4em;
							position: absolute;
							width: 100%;
							height: auto;
							object-fit: cover;
							transform: translateY(-50%);
							top: 50%;
							left: 0;
							z-index: -1;
							filter: blur(10px);
						}
					}
				}
			}
		}

		@include min-width(1100px) {
			height: $nav-mobile-height;
			transition: all 200ms ease 0ms;

			nav {
				box-shadow: none;

				a {
					font-size: 1.3rem;
					padding: 20px 8px;
					color: white;
					opacity: 1;
				}
			}

			.ellipsis {
				display: none;
			}

			&::before {
				display: none;
			}

			.logo {

			}

			nav {
				display: block;
				position: absolute;
				top: 0;
				right: 5rem;
				width: auto;
				background: transparent;
				height: 100%;
				overflow: initial;
				-webkit-overflow-scrolling: initial;
				transform: none;
				transition: none;
				padding: 0;
				max-width: 49.5rem;
				width: 100%;


				ul {
					width: 100%;
					height: 100%;
					border: 0;
					display: flex;
					justify-content: flex-end;

					li {
						border: none;
						position: relative;
						height: 100%;
						padding: 0 10px;

						body.judges &.menu-the-judges a,
						body.how-to-enter &.menu-how-to-enter a,
						body.faq &.menu-faq a,
						body.contact-us &.menu-contact-us a {
							background: none;
							color: white;
							border-bottom: 2px solid $current_year-primary;
						}
					}

					a {
						height: 100%;
						padding: .02857142857em .431190476em 0 .431190476em;
						font-size: 1.3rem;
						font-weight: 900;
						display: inline-flex;
						align-items: center;
						align-content: center;
						transition: none;
						border-bottom: 2px solid transparent;
						padding-top: 4px;
						left: -25px;

						&:hover,
						&:focus {
							background: none;
							color: white;
							border-bottom: 2px solid $current_year-primary;
						}

						img {
							width: 4.0rem;
							height: 4.0rem;
							border-radius: 0.6rem;
							margin-right: 0.4em;
							padding: 0.125rem;
							background: rgba(33,61,75,.4);
							max-width: 150px;
						}
					}

					ul {
						display: flex;
						flex-wrap: wrap;
						position: absolute;
						top: calc(100% - 2px);
						z-index: 4;
						width: 250px;
						background: $body-dark;
						border: none;
						left: 50%;
						margin-left: -125px;
						text-align: center;
						height: auto;
						border-radius: 1px;
						box-shadow: 0 0 4px 0 rgba(0,0,0,0.25),0 2px 2px 0 rgba(0,0,0,0.25);
						transform: scale(0) translateY(0%) translateZ(0);
						transform-origin: 50% 0%;
						transition: transform 150ms ease 0ms;

						&::before,
						&::after {
							content: '';
							display: block;
							position: absolute;
							background: $body-dark;
							width: 10px;
							height: 10px;
							top: -5px;
							left: 50%;
							margin-left: -5px;
							z-index: 2;
							border-radius: 1px;
						}

						&::before {
							box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
							transform: rotate(45deg);
						}

						&::after {
							width: 30px;
							top: 0;
							margin-left: -15px;
						}

						&.first-active::before,
						&.first-active::after {
							background: #1e3744;
						}


						li {
							display: inline-block;
							border: none;
							position: relative;
							width: 100%;
							height: auto;
							padding: 0;
							border-bottom: 1px solid rgba(0,0,0,0.125);

							&:first-of-type {
								border-radius: 3px 3px 0 0;
								border-bottom: 1px solid rgba(0,0,0,0.125);
							}
						}

						a {
							font-size: 1.7rem;
							padding: 15px 5px;
							height: auto;
							display: block;
							letter-spacing: -0.025em;

							&:hover,
							&:active,
							&:focus {
								border-bottom-color: transparent;
								background-color: rgba(0, 0, 0, 0.1) !important;
							}
						}
					}

					a:hover + ul,
					a:focus + ul,
					ul:hover,
					ul:focus,
					ul.nav-opened {
						transform: scale(1) translateY(0%) translateZ(0);
					}
				}
			}
		}
	}
